* {
    box-sizing: border-box;
}

body {
    padding: 5px;
    margin: 100px auto;
    background: linear-gradient(180deg,#7f5be3, white 60%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calc {
    background-color: #fff;
    color: #333;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.screen {
    color: #3333d6;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px;
    background-color: #d4ceec;
    border-bottom: 2px solid #ccc1ee;
    border-radius: 20px 20px 0 0;
}

.calc-button {
    background-color: #e7d7f8;
    color: #563483;
    height: 80px;
    width: 24.5%;
    border: none;
    font-size: 28px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease;
    margin: 3px;
}

.calc-button:hover {
    background-color: #cdc2f3;
}

.calc-button:active {
    background-color: #a49ee8;
}

.double {
    width: 50%;
}

.triple {
    width: 75%;
}

.calc-button:last-child {
    background-color: #6133d6;
    color: rgb(188, 188, 222);
}

.calc-button:last-child:hover {
    background-color: #7b54e7;
}

.calc-button:last-child:active {
    background-color: #3a1bc6;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}
